.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  position: relative;
  transition: transform 0.3s ease;
}

.navbar a {
  font-family: 'Notable', sans-serif;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  letter-spacing: 3px;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a.active {
  opacity: 1;
  color: #61dafb;
}
